.search-bar-container {
  width: 100%;
  text-align: center;
}
.search {
  outline-style: none;
  width: 500px;
  padding: 14px 14px;
  font-size: 15px;
}
.results {
  border: 1px solid grey;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.results .item {
  text-align: start;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px;
}
.item:hover {
  background: lightblue;
}
.hide {
  opacity: 0;
}
